### Split

In [1]:
items = 'zero one two three'.split() 
print (items)

['zero', 'one', 'two', 'three']

In [2]:
example = 'python,java,javascript' 
example.split(",")

['python', 'java', 'javascript']

In [5]:
example = 'teamlab.technology.io'
subdomain, domain, tld = example.split('.') # "."을 기준으로 문자열 나누기 → Unpacking
domain

'technology'

### Join

In [6]:
colors = ['red', 'blue', 'green', 'yellow']
result = ''.join(colors)
result

'redbluegreenyellow'

In [7]:
result = ' '.join(colors) # 연결 시 빈칸 1칸으로 연결 
result

'red blue green yellow'

In [8]:
result = ', '.join(colors) # 연결 시 ", "으로 연결 
result

'red, blue, green, yellow'

In [9]:
result = '-'.join(colors) # 연결 시 "-"으로 연결 
result

'red-blue-green-yellow'

### List Comprehension
기존 List 를 사용하여 간단히 다른 list를 만드는 기법   
일반적으로 for + append 보다 효율적임

In [10]:
result = []
for i in range(10):
    result.append(i)

result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
result = [i for i in range(10)]  # much better & efficient

result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
result = [i for i in range(10) if i % 2 == 0] 

result

[0, 2, 4, 6, 8]

In [16]:
## Nested Loop

word_1 = "Hello"
word_2 = "World"
result = [i+j for i in word_1 for j in word_2]  # i+j appends to result

print(result)  # Nested For loop

['HW', 'Ho', 'Hr', 'Hl', 'Hd', 'eW', 'eo', 'er', 'el', 'ed', 'lW', 'lo', 'lr', 'll', 'ld', 'lW', 'lo', 'lr', 'll', 'ld', 'oW', 'oo', 'or', 'ol', 'od']

In [14]:
case_1 = ["A","B","C"]
case_2 = ["D","E","A"]
result = [i+j for i in case_1 for j in case_2]

result

['AD', 'AE', 'AA', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [15]:
## Filter

result = [i+j for i in case_1 for j in case_2 if not(i==j)] # Filter
# [i+j if not(i==j) else i for i in case_1 for j in case_2]

result

['AD', 'AE', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [17]:
## Two Dimensional List

words = 'The quick brown fox jumps over the lazy dog'.split()
print (words)

# list의 각 elemente들을 대문자, 소문자, 길이로 변 환하여 two dimensional list로 변환
stuff = [[w.upper(), w.lower(), len(w)] for w in words] 

for i in stuff: 
    print (i)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
['THE', 'the', 3]
['QUICK', 'quick', 5]
['BROWN', 'brown', 5]
['FOX', 'fox', 3]
['JUMPS', 'jumps', 5]
['OVER', 'over', 4]
['THE', 'the', 3]
['LAZY', 'lazy', 4]
['DOG', 'dog', 3]

In [22]:
## Two Dimensional vs One Dimensional

case_1 = ["A","B","C"]
case_2 = ["D","E","A"]

result = [i+j for i in case_1 for j in case_2]
print(result)

result = [ [i+j for i in case_1] for j in case_2]  # for j in case_2 -> for i in case_1
print(result)

result = [ [i+j for i in case_1 if j != "E"] for j in case_2] 
print(result)

['AD', 'AE', 'AA', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']
[['AD', 'BD', 'CD'], ['AE', 'BE', 'CE'], ['AA', 'BA', 'CA']]
[['AD', 'BD', 'CD'], [], ['AA', 'BA', 'CA']]

### Enumerate

In [23]:
for i, v in enumerate(['tic', 'tac', 'toe']): # list의 있는 index와 값을 unpacking
    print (i, v)  # index, value

0 tic
1 tac
2 toe

In [24]:
mylist = ['a', 'b', 'c', 'd']
list(enumerate(mylist))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

In [29]:
## 문장을 list로 만들고 list의 index와 값을 unpacking하여 dict로 저장

text = 'Artificial intelligence (AI), is intelligence demonstrated by machines, unlike the natural intelligence displayed by humans and animals.'
{i:j for i,j in enumerate(text.split())}

{0: 'Artificial',
 1: 'intelligence',
 2: '(AI),',
 3: 'is',
 4: 'intelligence',
 5: 'demonstrated',
 6: 'by',
 7: 'machines,',
 8: 'unlike',
 9: 'the',
 10: 'natural',
 11: 'intelligence',
 12: 'displayed',
 13: 'by',
 14: 'humans',
 15: 'and',
 16: 'animals.'}

In [30]:
## 겹치는 단어 제외

set_text = list(set(text.split()))
{i:j for i,j in enumerate(set_text)}

{0: 'the',
 1: 'humans',
 2: 'intelligence',
 3: '(AI),',
 4: 'natural',
 5: 'is',
 6: 'unlike',
 7: 'by',
 8: 'machines,',
 9: 'displayed',
 10: 'animals.',
 11: 'and',
 12: 'Artificial',
 13: 'demonstrated'}

In [32]:
{j:i for i,j in enumerate(set_text)}

{'the': 0,
 'humans': 1,
 'intelligence': 2,
 '(AI),': 3,
 'natural': 4,
 'is': 5,
 'unlike': 6,
 'by': 7,
 'machines,': 8,
 'displayed': 9,
 'animals.': 10,
 'and': 11,
 'Artificial': 12,
 'demonstrated': 13}

### Zip

In [33]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']
for a, b in zip(alist, blist): 
    print (a,b)

a1 b1
a2 b2
a3 b3

In [35]:
[[a,b] for a,b in zip(alist,blist)]

[['a1', 'b1'], ['a2', 'b2'], ['a3', 'b3']]

In [36]:
[c for c in zip(alist,blist)]

[('a1', 'b1'), ('a2', 'b2'), ('a3', 'b3')]

In [39]:
a,b,c =zip((1,2,3),(10,20,30),(100,200,300))
print(a,b,c)

(1, 10, 100) (2, 20, 200) (3, 30, 300)

In [37]:
[sum(x) for x in zip((1,2,3), (10,20,30), (100,200,300))]

[111, 222, 333]

In [38]:
math = (100,90,80)
kor = (90,90,60)
eng = (20,49,88)

[sum(value) / 3 for value in zip(math,kor,eng)]

[70.0, 76.33333333333333, 76.0]

In [40]:
## index alist[index] blist[index] 표시

alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']

for i, (a, b) in enumerate(zip(alist, blist)):
    print (i, a, b)

0 a1 b1
1 a2 b2
2 a3 b3

### Lambda
Python3 이후(PEP8에서는)에는 권장하지 않음   
대신 def statement를 사용하기를 권장

In [41]:
def f(x, y):
    return x + y
print(f(1, 4))

5

In [42]:
f = lambda x, y: x + y 
print(f(1, 4))

5

In [43]:
(lambda x,y: x+y)(1,4)

5

In [44]:
up_low = lambda x: "=".join(x.split())
up_low("Hello World")

'Hello=World'

### Map
Python3에서는 권장하지 않는 기법

In [47]:
ex = [1,2,3,4,5]
f = lambda x, y: x * y 

list(map(f, ex, ex))  # list로 변환해주어야 print 가능

[1, 4, 9, 16, 25]

In [51]:
ex = [1,2,3,4,5]
f = lambda x: x **3

result = list(map(f,ex))
result

[1, 8, 27, 64, 125]

In [52]:
## Map 대신 사용하는 방법 - List Comprehension

[f(value) for value in ex]

[1, 8, 27, 64, 125]

### Reduce Function
Python3에서는 권장하지 않는 기법   
but still used in many ML codes

In [53]:
from functools import reduce
    
print(reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]))

15

### Iterable Object

In [55]:
for city in ["Seoul", "Busan", "Pohang"]:
    print(city, end="\t")
print()
for language in ("Python", "C", "Java"):
    print(language, end="\t")
print()
for char in "Python is easy":
    print(char, end = " ")

Seoul	Busan	Pohang
Python	C	Java
P y t h o n   i s   e a s y

In [61]:
cities = ["Seoul", "Busan", "Jeju"]
iter_obj = iter(cities)
iter_obj

In [62]:
## 0000 Seoul -> 0001 Busan -> 0002 Jeju

print(next(iter_obj))
print(next(iter_obj))
print(next(iter_obj))

Seoul
Busan
Jeju

In [63]:
next(iter_obj)  # 더이상 뒤에 데이터가 없기 때문에 오류

StopIteration:

### Generator
iterable object를 특수한 형태로 사용해주는 함수   
element가 사용되는 시점에 값을 memory에 반환

In [65]:
def general_list(value):
    result = []
    for i in range(value):
        result.append(i)
    return result

print(general_list(50))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [67]:
import sys
result = general_list(50)
sys.getsizeof(result)  # 520 byte

520

In [70]:
def generator_list(value):
    result = []
    for i in range(value): 
        yield i  # 쓰는 시점에 호출 - memory X

print(generator_list(50))

<generator object generator_list at 0x119a5b890>

In [72]:
for item in generator_list(50):
    print(item,end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49

In [73]:
result = generator_list(50)
sys.getsizeof(result)  # efficient

112

In [74]:
result = list(generator_list(50))
sys.getsizeof(result)

464

In [82]:
## Generator Comprehension

gen_ex = (n*n for n in range(15))
print(type(gen_ex))

<class 'generator'>

In [83]:
print(list(gen_ex))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

In [84]:
## Why Generator
## normal iterators use more memories than generator

from sys import getsizeof
gen_ex = (n*n for n in range(500))
print(getsizeof(gen_ex))
print(getsizeof(list(gen_ex)))
list_ex = [n*n for n in range(500)]
print(getsizeof(list_ex))

112
4568
4264

### Function Passing Arguments
keyword arguments / default arguments / variable-length arguments

In [86]:
## Keyword Arguments
 
def print_somthing(my_name, your_name):
    print("Hello {0}, My name is {1}".format(your_name, my_name))
    
print_somthing("Sungchul", "TEAMLAB") 
print_somthing(your_name="TEAMLAB", my_name="Sungchul")

Hello TEAMLAB, My name is Sungchul
Hello TEAMLAB, My name is Sungchul

In [90]:
## Default Arguments

def print_somthing_2(my_name, your_name="TEAMLAB"):
    print("Hello {0}, My name is {1}".format(your_name, my_name))
    
print_somthing_2("Sungchul", "NAVER") 
print_somthing_2("Sungchul")

Hello NAVER, My name is Sungchul
Hello TEAMLAB, My name is Sungchul

### Variable-Length Asterisk
가변인자 asterisk

In [91]:
## Varialbe-Length: tuple type

def asterisk_test(a, b, *args): 
    print(list(args))
    print(type(args))
    return a+b+sum(args)

print(asterisk_test(1, 2, 3, 4, 5)) # 1->a, 2->b, 345->*args

[3, 4, 5]
<class 'tuple'>
15

In [92]:
def asterisk_test_2(*args): 
    x, y, z = args
    return x, y, z 

print(asterisk_test_2(3, 4, 5))

(3, 4, 5)

In [94]:
## Keyword Variable-Length: dict type

def kwargs_test_1(**kwargs): 
    print(kwargs)
    print(type(kwargs))
    
kwargs_test_1(first=3, second=4, third=5)

{'first': 3, 'second': 4, 'third': 5}
<class 'dict'>

In [97]:
def kwargs_test_2(**kwargs): 
    print(kwargs)
    print("First value is {first}".format(**kwargs)) 
    print("Second value is {second}".format(**kwargs)) 
    print("Third value is {third}".format(**kwargs))

kwargs_test_2(one=121212, first=3, second=4, third=5)

{'one': 121212, 'first': 3, 'second': 4, 'third': 5}
First value is 3
Second value is 4
Third value is 5

In [101]:
def kwargs_test_3(one,two, *args, **kwargs): 
    print(one+two+sum(args))
    print(args)
    print(kwargs)
    
kwargs_test_3(3,4,5,6,7,8,9,first=3, second=4, third=5)

42
(5, 6, 7, 8, 9)
{'first': 3, 'second': 4, 'third': 5}

In [102]:
kwargs_test_3(3,4,5,6,7,8,9,1212,1313,1414,first=3, second=4, third=5)

3981
(5, 6, 7, 8, 9, 1212, 1313, 1414)
{'first': 3, 'second': 4, 'third': 5}

In [106]:
## Asterisk - *args, **kargs, and 'unpacking a container'

def asterisk_test(a, *args): # *에 *이 있기 때문에 unpack 됨
    print(a, args)
    print(a, *args)
    print(type(args))
    
asterisk_test(1, *(2,3,4,5,6))

1 (2, 3, 4, 5, 6)
1 2 3 4 5 6
<class 'tuple'>

In [104]:
def asterisk_test(a, args): 
    print(a, *args)
    print(type(args))

asterisk_test(1, (2,3,4,5,6))

1 2 3 4 5 6
<class 'tuple'>

In [107]:
print(['1','2','3','4']) # 1 value

['1', '2', '3', '4']

In [108]:
print(*['1','2','3','4']) # unpack -> 4 value

1 2 3 4

In [109]:
a, b, c = ([1, 2], [3, 4], [5, 6]) 
print(a, b, c)
data = ([1, 2], [3, 4], [5, 6]) 
print(*data)

[1, 2] [3, 4] [5, 6]
[1, 2] [3, 4] [5, 6]

In [110]:
def asterisk_test(a, b, c, d,): 
    print(a, b, c, d)
data = {"b":1 , "c":2, "d":3} 
asterisk_test(10, **data)

10 1 2 3

In [112]:
for data in zip(*([1, 2], [3, 4], [5, 6])):
    print(data)
    print(sum(data))

(1, 3, 5)
9
(2, 4, 6)
12